* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 300px;
    width: 100%;
    background-image: url(../images/background02.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
    background-position: top center, bottom center;
}

.header .school {
    height: 36px;
    color: #fff;
    background: #000;
    opacity: 0.7;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.header .avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 198px;
    left: 43%;
}

.header .full-name {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.header .class {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.line {
    height: 5px;
    background-color: #fff;
}

.main {
    background: #000;
    padding: 80px 195px 0;
}

.main .title {
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
}

.main .title i {
    margin-right: 8px;
}

.main .title-line {
    height: 2px;
    background-color: #fff;
}

.info .info-list .text,
.study .study-list .text {
    color: #006eb7;
    font-size: 18px;
    list-style: none;
    margin-top: 15px;
    margin-left: 35px;
}

.info .info-list .text span,
.info .info-list .text a,
.study .study-list .text span {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.product .product-list .text {
    color: #fff;
    list-style: none;
    font-size: 18px;
    margin-left: 35px;
    margin-top: 10px;
}

.product .product-list .text a {
    color: #fff;
}

.image {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 250px 300px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 3px;
}

.img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-image: url(../images/1.jpg);
}

.img2 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-image: url(../images/3.jpg);
}

.img3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(../images/11.jpg);
}

.img4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-image: url(../images/12.jpg);
}

.img5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-image: url(../images/13.jpg);
}

.img6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-image: url(../images/6.jpg);
}

.img7 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-image: url(../images/7.jpg);
}

.img8 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-image: url(../images/8.jpg);
}